.result {
    background-color: beige ;
    text-align: center;
}

.grid-result{
    display: flex;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.result-place{
    background-color: grey; height: 200px
}

.result-text{
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: middle;
}
